version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: 'weekly'
    versioning-strategy: 'increase'
    labels:
      - "dependencies"
    open-pull-requests-limit: 5
    pull-request-branch-name:
      separator: "-"
    ignore:      
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
