---
version: 2.1
orbs:
  release-management: salesforce/npm-release-management@4

jobs:
  # There are two pack jobs:
  # - test-pack-tarballs to run on every branch *other than main*
  # - pack-and-upload-tarballs to run only on main
  # The persist_to_workspace feature would allow use to have a
  # pack-tarballs and an upload-tarballs job, but the perf gains
  # is minimal since the workspace is almost a GB to attach.
  test-pack-tarballs:
    docker:
      - image: node:lts
    resource_class: xlarge
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install -y p7zip-full
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: yarn install
      - run: yarn pack:tarballs
      - run: yarn pack:verify
      - run: yarn test:smoke-unix

  pack-and-upload-tarballs: &pack-and-upload-tarballs
    docker:
      - image: node:lts
    resource_class: xlarge
    steps:
      - checkout
      - run: git fetch origin && git pull
      - run: |
          apt-get update
          apt-get install -y p7zip-full
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: yarn install
      - run: yarn pack:tarballs
      - run: yarn pack:verify
      - run: yarn test:smoke-unix
      - run: yarn upload:tarballs
      - run:
          name: Promote to stable channel
          command: |
            VERSION=$(node -p -e "require('./package.json').version")
            SHA=$(git rev-parse --short HEAD)
            yarn promote --version $VERSION --sha $SHA --channel stable --max-age 300 --indexes

  pack-and-upload-macos-installer:
    macos:
      xcode: 11.7.0
    steps:
      - checkout
      - run: git fetch origin && git pull
      - run: yarn install
      - run: yarn pack:macos
      - run: yarn upload:macos
      - run:
          name: Promote macos installer to stable channel
          command: |
            VERSION=$(node -p -e "require('./package.json').version")
            SHA=$(git rev-parse --short HEAD)
            yarn promote --version $VERSION --sha $SHA --channel stable --max-age 300 --macos

  pack-and-upload-windows-installer:
    <<: *pack-and-upload-tarballs
    steps:
      - checkout
      - run: git fetch origin && git pull
      - restore_cache:
          keys:
            - v3-npm-{{checksum "yarn.lock"}}
      - run: |
          apt-get update
          apt-get install -y p7zip-full \
            osslsigncode \
            nsis
      - run: yarn install
      - run: |
          echo $WINDOWS_SIGNING_KEY | base64 --decode > /tmp/windows-signing.pfx
      - run: yarn pack:win
      - run: yarn upload:win
      - run:
          name: Promote windows installer to stable channel
          command: |
            VERSION=$(node -p -e "require('./package.json').version")
            SHA=$(git rev-parse --short HEAD)
            yarn promote --version $VERSION --sha $SHA --channel stable --max-age 300 --win

  promote-verify:
    docker:
      - image: node:latest
    steps:
      - checkout
      - run: yarn install
      - run: yarn promote:verify

workflows:
  version: 2
  test-and-release:
    jobs:
      - release-management/validate-pr:
          filters:
            branches:
              ignore: main
      - release-management/test-package:
          matrix:
            parameters:
              os:
                - linux
                - windows
              node_version:
                - latest
                - lts
                - maintenance
            exclude:
              - os: windows
                node_version: lts
              - os: windows
                node_version: maintenance
      - release-management/test-sf-inclusion:
          sfdx_branch: mdonnalley/include-sf
          name: test-include-sf-in-sdx
      - test-pack-tarballs:
          # no point to pack if the test fail, and we only care to test the pack with the node version
          # we ship (specified in package.json.oclif.node)
          requires:
            - release-management/test-package
          filters:
            branches:
              ignore: main # test the pack on PRs, but main will do pack-and-upload-tarballs
      - release-management/release-package:
          node_version: '14'
          tag: latest
          github-release: true
          requires:
            - release-management/test-package
            - test-include-sf-in-sdx
          filters:
            branches:
              only: main
          pre-job-steps:
            - release-management/pin-dependencies:
                tag: latest
      - pack-and-upload-tarballs:
          filters:
            branches:
              only:
                - main
          requires:
            - release-management/release-package
      - pack-and-upload-macos-installer:
          filters:
            branches:
              only:
                - main
          requires:
            - release-management/release-package
            - pack-and-upload-tarballs
      - pack-and-upload-windows-installer:
          filters:
            branches:
              only:
                - main
          requires:
            - release-management/release-package
            - pack-and-upload-tarballs
      - promote-verify:
          requires:
            - pack-and-upload-tarballs
            - pack-and-upload-macos-installer
            - pack-and-upload-windows-installer
  test-pack-and-include:
    triggers:
      - schedule:
          cron: 0 0 * * *
          filters:
            branches:
              only:
                - main
    jobs:
      - release-management/test-sf-inclusion
      - test-pack-tarballs
