name: jit-install-smoke

on:
  workflow_dispatch:
  workflow_call:

jobs:
  manifest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
      - run: yarn install
      - run: yarn build
      - run: yarn oclif manifest
      - uses: actions/upload-artifact@v2
        with:
          name: manifest
          path: oclif.manifest.json

  get-jit-plugins:
    runs-on: ubuntu-latest
    outputs:
      jit: ${{ steps.plugins.outputs.jit }}
    steps:
      - uses: actions/checkout@v3
      - name: Get JIT plugins
        id: plugins
        # This was a pain to get working, be weary of changing it...
        # For the dynamic matrix to work, you have to have a VERY specific format:
        # Output must be multiline (no jq -c), quotes matter, cannot use toJSON on output, etc...
        # The dynamic matrix needs to use fromJSON when reading the needs output
        # Multiline format: https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#example-of-a-multiline-string
        run: |
          {
            echo 'jit<<EOF'
            jq '.oclif.jitPlugins | keys' package.json
            echo EOF
          } >> "$GITHUB_OUTPUT"

  jit-install:
    needs: [manifest, get-jit-plugins]
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        jitPlugins: ${{ fromJSON(needs.get-jit-plugins.outputs.jit) }}
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - run: yarn install
      - run: yarn build
      - uses: actions/download-artifact@v2
        with:
          name: manifest
      - name: Install JIT plugin
        uses: nick-fields/retry@943e742917ac94714d2f408a0e8320f2d1fcafcd
        with:
          max_attempts: 3
          retry_wait_seconds: 60
          command: yarn sf-release cli:install:jit:test --jit-plugin ${{matrix.jitPlugins}}
          timeout_minutes: 60
