name: just-nuts

on:
  workflow_dispatch:
    inputs:
      channel-or-version:
        required: true
        description: Version or channel of the CLI to test against (nightly, latest-rc, 2.1.1)
        type: string
  workflow_call:
    inputs:
      channel-or-version:
        required: true
        description: Version or channel of the CLI to test against (nightly, latest-rc, 2.1.1)
        type: string

jobs:
  # plugins that use yarn:test:nuts
  basic:
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        os: [ubuntu-latest, windows-latest]
        repository:
          - salesforcecli/plugin-auth
          - salesforcecli/plugin-data
          - salesforcecli/plugin-limits
          - salesforcecli/plugin-org
          - salesforcecli/plugin-schema
          - salesforcecli/plugin-settings
          - salesforcecli/plugin-sobject
          - salesforcecli/plugin-templates
          - salesforcecli/plugin-user
    uses: ./.github/workflows/just-nut.yml
    with:
      repository: ${{matrix.repository}}
      channel-or-version: ${{ inputs.channel-or-version }}
      os: ${{matrix.os}}
    secrets: inherit

  jit:
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        os: [ubuntu-latest, windows-latest]
        repository:
          - salesforcecli/plugin-custom-metadata
          - salesforcecli/plugin-community
          - salesforcecli/plugin-dev
          - salesforcecli/plugin-signups
          # - salesforce/plugin-devops-center
          # - salesforcecli/plugin-env
          # - salesforce/plugin-functions
          # - salesforce/sfdx-plugin-lwc-test
          # - salesforce/sfdx-scanner
    uses: ./.github/workflows/just-nut.yml
    with:
      repository: ${{matrix.repository}}
      channel-or-version: ${{ inputs.channel-or-version }}
      os: ${{matrix.os}}
      jit: true
    secrets: inherit

  packaging:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        command:
          - yarn test:nuts:package
          - yarn test:nuts:package1
    uses: ./.github/workflows/just-nut.yml
    with:
      repository: salesforcecli/plugin-packaging
      channel-or-version: ${{ inputs.channel-or-version }}
      os: ${{matrix.os}}
      command: ${{matrix.command}}
    secrets: inherit

  source:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        command:
          - yarn test:nuts:mdapi
          - yarn test:nuts:deploy:metadata
          - yarn test:nuts:deploy:async
          - yarn test:nuts:deploy:destructive
          - yarn test:nuts:deploy:manifest
          - yarn test:nuts:deploy:quick
          - yarn test:nuts:deploy:rest
          - yarn test:nuts:deploy:sourcepath
          - yarn test:nuts:deploy:testlevel
          - yarn test:nuts:retrieve
          - yarn test:nuts:specialTypes
          - yarn test:nuts:tracking
    uses: ./.github/workflows/just-nut.yml
    with:
      repository: salesforcecli/plugin-source
      channel-or-version: ${{ inputs.channel-or-version }}
      os: ${{matrix.os}}
      command: ${{matrix.command}}
    secrets: inherit

  deploy-retrieve:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        command:
          - yarn test:nuts:convert
          - yarn test:nuts:deb
          - yarn test:nuts:delete
          - yarn test:nuts:deploy:metadata:manifest
          - yarn test:nuts:deploy:metadata:metadata
          - yarn test:nuts:deploy:metadata:metadata-dir
          - yarn test:nuts:deploy:metadata:source-dir
          - yarn test:nuts:deploy:metadata:test-level
          - yarn test:nuts:destructive
          - yarn test:nuts:manifest
          - yarn test:nuts:retrieve
          - yarn test:nuts:specialTypes
          - yarn test:nuts:static
          - yarn test:nuts:tracking
    uses: ./.github/workflows/just-nut.yml
    with:
      repository: salesforcecli/plugin-deploy-retrieve
      channel-or-version: ${{ inputs.channel-or-version }}
      os: ${{matrix.os}}
      command: ${{matrix.command}}
    secrets: inherit
