name: just-nuts

on:
  workflow_dispatch:
  workflow_run:
    workflows: [RC]
    types:
      - completed

jobs:
  basic:
    if: ${{ !github.event.workflow_run || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        os: [ubuntu-latest, windows-latest]
        repository:
          - salesforcecli/plugin-login
          - salesforcecli/plugin-settings
          - salesforcecli/plugin-custom-metadata
          - salesforcecli/plugin-community
          - salesforcecli/plugin-env
          - salesforcecli/plugin-generate
          - salesforcecli/plugin-limits
          - salesforcecli/plugin-signups
          - salesforcecli/plugin-user
          - salesforcecli/plugin-packaging
          # omitted while nuts are too flaky on bulk commands
          # - salesforcecli/plugin-data
    uses: ./.github/workflows/justNut.yml
    with:
      repository: ${{matrix.repository}}
      os: ${{matrix.os}}
    secrets: inherit

  deploy-big:
    if: ${{ !github.event.workflow_run || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20-8core]
        command:
          - yarn test:nuts:deploy:metadata:manifest
          - 'yarn test:nuts:deploy:metadata:metadata-dir'
          - 'yarn test:nuts:deploy:metadata:metadata'
          - 'yarn test:nuts:deploy:metadata:source-dir'
          - 'yarn test:nuts:deploy:metadata:test-level'
    uses: ./.github/workflows/justNut.yml
    with:
      repository: salesforcecli/plugin-deploy-retrieve
      os: ${{matrix.os}}
      command: ${{matrix.command}}
    secrets: inherit
