name: promote

on:
  workflow_call:
    inputs:
      version:
        type: string
        description: 'Semver version to promote. Example: 2.1.1'
      old-channel:
        type: string
        description: 'Existing channel to promote. Example: Promote **latest-rc** to latest'
      new-channel:
        type: string
        description: 'The channel to promote to. Example: Promote latest-rc to **latest**'
        required: true
      use-ctc:
        type: boolean
        required: false
        description: Open a change case for this promotion. Only needed for promotions to latest.
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: 'Semver version to promote. Example: 2.1.1'
      old-channel:
        type: string
        description: 'Existing channel to promote. Example: Promote **latest-rc** to latest'
      new-channel:
        type: string
        description: 'The channel to promote to. Example: Promote latest-rc to **latest**'
        required: true
      use-ctc:
        type: boolean
        required: false
        description: Open a change case for this promotion. Only needed for promotions to latest.

jobs:
  validate-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Ensure either 'version' or 'old-channel' is passed"
        if: ${{ !inputs.version && !inputs.old-channel }}
        run: |
          echo "ERROR: You must pass either 'version' or 'old-channel' to promote from."
          echo "-> Use 'version' if you are promoting a new semver version to a channel. Example: I want to promote version '2.1.1' to channel 'dev'.
          echo "-> Use 'old-channel' if you are promoting an existing channel to another channel. Example: I want to promote channel 'latest-rc' to channel 'latest'.
          exit 1
      - name: Ensure only one "starting point"
        if: ${{ inputs.version && inputs.old-channel }}
        run: |
          echo "ERROR: Inputs 'version' and 'old-channel' cannot both be passed (exactlyOne)."
          echo "-> Use 'version' if you are promoting a new semver version to a channel. Example: I want to promote version '2.1.1' to channel 'dev'.
          echo "-> Use 'old-channel' if you are promoting an existing channel to another channel. Example: I want to promote channel 'latest-rc' to channel 'latest'.
          exit 1
      - name: Ensure channels do not include "stable"
        if: ${{ contains(inputs.old-channel, 'stable') || contains(inputs.new-channel, 'stable') }}
        run: |
          echo "ERROR: Do not use 'stable' in channel names. Use 'latest' instead.
          echo "-> S3 resources (stable, stable-rc) will be translated for you and will eventually be deprecated in favor of 'latest' and 'latest-rc'
          exit 1

  # Even if inputs.version is passed, we still need the SHA for a later step
  get-package-info:
    needs: [validate-inputs]
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version-info.outputs.version }}
      sha: ${{ steps.version-info.outputs.sha }}
    steps:
      - uses: salesforcecli/github-workflows/.github/actions/versionInfo@main
        id: version-info
        with:
          npmPackage: '@salesforce/cli'
          version: ${{ inputs.version || inputs.old-channel }}

  # Replace 'latest' with 'stable' for S3 resources
  build-s3-channel:
    runs-on: ubuntu-latest
    needs: [get-package-info]
    outputs:
      s3-new-channel: ${{ steps.replace-channel.outputs.s3-new-channel }}
    steps:
      - id: replace-channel
        run: |
          NEW_CHANNEL=${{ inputs.new-channel }}
          S3_NEW_CHANNEL=${NEW_CHANNEL/latest/stable}
          echo "s3-new-channel=$S3_NEW_CHANNEL" >> "$GITHUB_OUTPUT"

  # CTC is only needed for promotions to 'latest'
  # Note: "Optional" GHA jobs are tricky to get right. Edit with caution.
  # Working example: https://github.com/iowillhoit/gha-sandbox/blob/main/.github/workflows/needing-an-optional-job-alternate.yml
  open-ctc-or-skip:
    needs: [build-s3-channel]
    runs-on: static-ip-ubuntu-runners
    outputs:
      changeCaseId: ${{ steps.open-ctc.outputs.changeCaseId }}
    steps:
      - name: Open CTC
        id: open-ctc
        if: inputs.use-ctc
        uses: salesforcecli/github-workflows/.github/actions/ctcOpen@main
        with:
          SF_CHANGE_CASE_SFDX_AUTH_URL: ${{ secrets.SF_CHANGE_CASE_SFDX_AUTH_URL}}
          SF_CHANGE_CASE_TEMPLATE_ID: ${{ secrets.SF_CHANGE_CASE_TEMPLATE_ID}}
          SF_CHANGE_CASE_CONFIGURATION_ITEM: ${{ secrets.SF_CHANGE_CASE_CONFIGURATION_ITEM}}
          SVC_CLI_BOT_GITHUB_TOKEN: ${{ secrets.SVC_CLI_BOT_GITHUB_TOKEN}}
      - name: Check open-ctc status
        if: always()
        run: |
          RESULT=${{ steps.open-ctc.outcome }}
          if [[ "$RESULT" != 'success' && "$RESULT" != 'skipped' ]]; then
            echo "Step 'open-ctc' failed! Exiting."
            exit 1
          else
            echo "Step 'open-ctc' was successful or was skipped, proceeding."
          fi

  # TODO: Add docker-promote

  npm-promote:
    needs: [open-ctc-or-skip, get-package-info]
    if: success()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      # NOTE: If you try to use yarn here, it will use the wrong registry and throw 401s
      - run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
          npm dist-tag add @salesforce/cli@${{ needs.get-package-info.outputs.version }} ${{ inputs.new-channel }}

  oclif-promote:
    needs: [open-ctc-or-skip, get-package-info, build-s3-channel]
    if: success()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: yarn
      - run: yarn install
      - run: yarn promote --version ${{ needs.get-package-info.outputs.version }} --sha ${{ needs.get-package-info.outputs.sha }} --channel ${{ needs.build-s3-channel.outputs.s3-new-channel }} --max-age 300 --macos --win --indexes --xz
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  ctcCloseSuccess:
    needs: [open-ctc-or-skip, npm-promote, oclif-promote]
    if: needs.open-ctc-or-skip.result == 'success' && needs.open-ctc-or-skip.outputs.changeCaseId && needs.npm-promote.result == 'success' && needs.docker-promote.result == 'success' && needs.oclif-promote.result == 'success'
    uses: salesforcecli/github-workflows/.github/workflows/ctcClose.yml@main
    secrets: inherit
    with:
      changeCaseId: ${{needs.open-ctc-or-skip.outputs.changeCaseId}}

  ctcCloseFail:
    needs: [open-ctc-or-skip, npm-promote, oclif-promote]
    if: always() && needs.open-ctc-or-skip.outputs.changeCaseId && (needs.open-ctc-or-skip.result != 'success' || needs.npm-promote.result != 'success' || needs.docker-promote.result != 'success' || needs.oclif-promote.result != 'success')
    uses: salesforcecli/github-workflows/.github/workflows/ctcClose.yml@main
    secrets: inherit
    with:
      changeCaseId: ${{ needs.open-ctc-or-skip.outputs.changeCaseId }}
      status: Not Implemented
