name: update-docker-node-version

on:
  workflow_call:
  workflow_dispatch:

jobs:
  update-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODE_VERSION_OVERRIDE || 'lts/*' }}
      - name: Update node version in dockerfile_full
        uses: salesforcecli/github-workflows/.github/actions/retry@ew/retry-wrapper
        with:
          command: node ./dockerfiles/update-docker-node-version.cjs
      - uses: salesforcecli/github-workflows/.github/actions/gitConfig@main
      # Push changes if 'git status' is not empty
      - run: |
          if [[ -n $(git status --short) ]]; then
            git add dockerfiles/Dockerfile_full
            git commit -m "chore: update node in dockerfile_full" --no-verify
            git push --no-verify
          else
            echo "Already up to date"
          fi
